
<link rel="stylesheet"href="main.css">h1{
    color: #000;
    background-color: pink;
    border:5px solid black;
}

<img src="C:\Users\DELL\OneDrive\Pictures\mar.jpg" height=10% width=100% align="right"  >
    